.absolute {
    position: absolute;
  }
  .relative {
    position: relative;
  }
  .white {
    color: white;
  }
  .black {
    color: black;
  }
  .bg-dark {
    background-color: black;
  }
  .bg-light {
    background-color: white;
  }
  .flex {
    display: flex;
  }
  .flex-direction-column{
      flex-direction: column;
  }
  .justify-center {
    justify-content: center;
  }
  .space-between {
    justify-content: space-between;
  }
  .space-around {
    justify-content: space-around;
  }

  .align-item-center {
    align-items: center;
  }
  .text-decoration-none {
    text-decoration: none;
  }
  .list-style-none {
    list-style-type: none;
  }
  .p1 {
    padding: 10px;
  }
  .wrap {
    flex-wrap: wrap;
  }
  